@import url('https://fonts.googleapis.com/css?family=Muli|Roboto&display=swap');
* {
    box-sizing: border-box;
}


/*******Intro section Start***********/

body,
html {
    height: 100%;
    width: 100%;
}

.background {
    background-image: url(/asserts/banner-2.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 120vh;
    width: 100%;
    color: white;
    opacity: 0.8;
}

.container-fluid {
    width: 90%;
}

.background .top-text p {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Muli', sans-serif;
    color: white;
    letter-spacing: 1px;
    margin-left: 70px;
    margin-top: 20px;
}

.background .toplinks {
    color: #ef4025;
    font-size: 18px;
    margin-top: 20px;
    float: right;
    padding: 0px 183px;
}

.background .toplinks .fa {
    padding: 10px 10px 0px 8px;
    font-weight: 600;
    cursor: pointer;
}

.background .toplinks span {
    color: white;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
}

.background .line {
    border-bottom: 1px solid #6c757d;
    margin-bottom: 5px;
}

.container #container {
    margin: 10px 10px;
}

.navbar .navbar-brand i {
    color: white;
    font-size: 80px;
    margin-left: 20px;
}

.nav-item:last-child {
    padding-right: 0px;
    padding-left: 10px;
}

.nav-item {
    padding: 10px 10px 10px 10px;
}

.navbar ul li {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Muli', sans-serif;
}

ul li a {
    margin-top: 10px;
    margin-left: 10px;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    margin: 10px 16px 10px 14px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #ef4025;
}

.content {
    position: relative;
    color: white;
    top: 168px;
    right: 12%;
    letter-spacing: 2px;
}

.content h1 {
    font-size: 48px;
    padding: 5px;
    font-weight: 600;
    text-align: justify;
    font-family: 'Muli', sans-serif;
}

.content p {
    font-size: 16px;
    padding: 5px 5px 30px 5px;
    font-weight: 600;
    text-align: justify;
    letter-spacing: normal;
    font-family: 'Muli', sans-serif;
}

.content .btn {
    border: 2px solid white;
    color: whitesmoke;
    background: transparent;
    border-radius: 25px;
    font-weight: 600;
    font-family: 'Muli', sans-serif;
    padding-bottom: 50px;
    display: inline-flex;
}

.content .btn:hover {
    background-color: #ef4025;
}


/*******Intro section End***********/


/********Service section  start*********/

.section-1 {
    padding: 81px 20px 40px 20px;
}

.section-1 h1 {
    font-size: 40px;
    font-weight: 500;
    font-family: 'Muli', sans-serif;
    color: #252629;
    padding-top: 30px;
}

.section-1 p {
    font-size: 16px;
    font-weight: 600;
    color: grey;
    text-align: center;
    font-family: 'Muli', sans-serif;
}

.box {
    padding: 10px 10px 10px 10px;
}

.section-2 {
    padding: 25px 10px 10px 25px;
    font-family: 'Muli', sans-serif;
}

.section-2 .fa {
    font-size: 75px;
    color: #ef4025;
    padding: 10px 20px 20px 10px;
}

.section-2 h2 {
    font-size: 25px;
    font-weight: 600;
    color: #252629;
    font-family: 'Muli', sans-serif;
}

.section-2 p {
    font-size: 16px;
    font-weight: 600;
    color: gray;
    text-align: center;
    padding: 6px 12px 5px 12px;
    margin: 0px 5px 5px 5px;
    font-family: 'Muli', sans-serif;
}

.section-2 .btn {
    font-size: 16px;
    font-weight: 600;
}

.box .card {
    width: 17rem;
}


/******service section End************/


/********About Us Section Start*********/

.section-3 {
    background-color: #f2f2f0;
    margin: 35px 0px 20px 1px;
    font-family: 'Muli', sans-serif;
    padding: 30px 10px 10px 10px;
}

.section-3 .heading-2 h1 {
    font-size: 40px;
    padding: 12px 0px 20px 0px;
    font-weight: 500;
}

.section-3 .heading-2 p {
    font-size: 16px;
    padding: 0px 183px 20px 242px;
    color: gray;
}

.section-3 .heading-2 {
    margin-bottom: 20px;
}

.section-3 .sub-heading h3 {
    font-size: 32px;
    padding: 12px 0px 27px 0px;
    margin-bottom: 38px;
}

.section-3 .description h4 {
    font-size: 21px;
    font-weight: 600;
    font-family: 'Muli', sans-serif;
}

#about p {
    text-align: justify;
    color: gray;
    padding: 5px 5px 20px 5px;
    font-size: 15px;
}

#Aboutbtn button {
    border: 2px solid #ef4025;
    color: #ef4025;
    background: white;
    border-radius: 33px;
    font-weight: 700;
    padding: 17px 40px;
    font-size: 17px;
    margin-bottom: 50px;
}

#Aboutbtn button:hover {
    border: 2px solid #ef4025;
    color: white;
    background: black;
    border-radius: 33px;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 18px;
}


/********About Us Section End*********/


/********Review Section start*********/

.section-4 {
    padding: 46px 10px 35px 19px;
    margin: 0px 0px 40px 10px;
    font-family: 'Muli', sans-serif;
}

.section-4 .heading-2 h1 {
    color: black;
    margin: 10px 50px 54px 8px;
    font-size: 40px;
}

.section-4 .heading-2 p {
    color: #787773;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}

.section-4 .card h4 {
    color: #8f8d85;
    text-align: center;
    padding: 58px 75px 12px 24px;
    font-size: 25px;
    font-weight: 600;
}

.section-4 .card h4 i {
    color: #ef4025;
    padding: 0px 13px 7px 4px;
}

.section-4 .card .card-body {
    padding: 0px 0px 0px 34px;
}

.section-4 .card .card-body p {
    color: #787773;
    font-size: 16px;
    padding: 20px 20px 10px 20px;
    font-style: italic;
    font-weight: 600;
}

.section-4 .card .card-body .review {
    float: right;
    padding: 19px 14px 14px 0px;
}

.section-4 .card .card-body .review h6 {
    font-size: 18px;
    color: #6b6c6e;
    font-weight: 600;
    padding-right: 41px;
}

.section-4 .card .card-body .review span {
    color: #787773;
    font-size: 14px;
    font-weight: 600;
}

.section-4 .img-fluid {
    position: relative;
    width: 34%;
    height: 28%;
    margin: -79px 0px 1px -204px;
    z-index: 20;
}


/*******Review Section End*********/


/********Contact section start*********/

.section-5 {
    background-color: #ef4025;
    padding: 47px 5px 120px 5px;
    margin: 0px 0px 60px 0px;
    font-family: 'Muli', sans-serif;
}

.section-5 h1 {
    color: white;
    font-size: 41px;
    text-align: justify;
    font-weight: 600;
    padding: 0px 20px 10px 10px;
}

.section-5 p {
    color: white;
    letter-spacing: 0.5px;
    font-weight: 600;
}

.section-5 .title {
    color: black;
    padding-top: 40px;
}

.section-5 button {
    border: 2px solid white;
    color: white;
    background: transparent;
    border-radius: 30px;
    text-transform: capitalize;
    font-weight: 600;
    padding: 17px 47px 0px 0px;
    font-size: 20px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.section-5 .add {
    background-color: white;
    padding: 24px 13px 37px 15px;
    margin: 33px -122px 14px 81px;
    border-radius: 10px;
}

.section-5 .add .fa {
    color: #ef4025;
    font-size: 30px;
    padding: 33px 20px 14px 32px;
}

.section-5 .add span {
    font-size: 18px;
    padding: 13px 20px 14px 13px;
}


/********Contact section End*********/


/********Testimonial section start*********/

.section-6 {
    padding: 46px 39px 35px 61px;
    margin: 0px 0px 40px 0px;
    font-family: 'Muli', sans-serif;
}

.section-6 .card {
    box-shadow: 10px 5px 15px 5px whitesmoke;
}

.section-6 .heading-2 h1 {
    font-size: 45px;
    text-transform: capitalize;
    font-weight: 500;
    padding: 0px 20px 10px 10px;
}

.section-6 .heading-2 h4 {
    font-size: 35px;
    color: #ef4025;
}

.section-6 .heading-2 p {
    text-align: center;
    color: gray;
    padding: 25px 5px 20px 5px;
    text-align: center;
}

.section-6 h6 {
    padding-top: 30px;
    font-size: 16px;
    font-weight: 600;
    color: grey;
    text-transform: uppercase;
}

.section-6 .fa {
    color: #ef4025;
    padding: 10px 10px;
    font-size: 18px;
}

.section-6 span {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: gray;
}

.section-6 p {
    text-align: justify;
    color: #474747;
    padding: 10px 5px 20px 5px;
    font-size: 16px;
    font-weight: 500;
}

.section-6 .btn {
    font-size: 16px;
    font-weight: 600;
}


/********Testimonial section End*********/


/********footer   section start*********/

.footer-section {
    background-color: #30302f;
    font-family: 'Muli', sans-serif;
    color: white;
    overflow-x: hidden;
    width: 100%;
}

.footer-section .container {
    width: 100%;
    padding-right: 0px;
    padding-left: 10px;
    padding-bottom: 40px;
    padding-top: 50px;
}

.footer-section .container h3 {
    font-size: 20px;
    color: whitesmoke;
    font-weight: 600;
    padding: 0px 5px 25px 5px;
}

.footer-section .container .info .line-bottom {
    border-bottom: 1px solid gray;
}


/*******Contact info***********/

.footer-section .info .fa {
    color: #ef4025;
    font-size: 20px;
    padding: 25px 17px 22px 10px;
    cursor: pointer;
}

.footer-section .info span {
    color: #6c757d;
    font-size: 16px;
    font-weight: 600;
}


/*******Quick links***********/

.footer-section .quick-links ul {
    color: #6c757d;
    list-style: none;
    cursor: pointer;
}

.footer-section .quick-links #demo {
    padding-left: 46px;
}

.footer-section .quick-links ul li {
    font-size: 18px;
    font-weight: 600;
    padding: 10px 10px 0px 10px;
}

.footer-section .myDiv {
    _border-bottom: 2px solid#6c757d;
}

.footer-section .myDiv div {
    margin: 5px 10px 0px 40px;
    width: 26%;
    height: 1px;
    background-color: #6c757d;
}

.footer-section .quick-links ul li .fa {
    color: #ef4025;
    font-size: 16px;
    padding: 10px 10px 0px 10px;
}


/**********Social media links********/

.footer-section .social-links {
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    padding-top: 14px;
}

.footer-section .social-links ul {
    color: #6c757d;
    list-style: none;
    padding: 0px 3px 0px 0px;
}

.footer-section .social-links ul li {
    padding: 9px 14px 10px 2px;
}

.footer-section .social-links ul li .fa {
    font-size: 18px;
    padding: 0px 10px 0px 10px;
}


/********newa Letter info**********/


/* .footer-section .newsletter .form-control {
    border-radius: 20px;
    padding: 9px 23px 10px 10px;
    margin: 19px 2px 25px 0px;
    width: 130%;
    border: none;
    font-size: 18px;
    cursor: pointer;
    text-align: justify;
}

.footer-section .newsletter p {
    font-size: 16px;
    margin: 10px 9px 10px 3px;
}

.footer-section .newsletter .btn {
    border: 2px solid #2ed22e;
    cursor: pointer;
    color: #2ed22e;
    background: transparent;
    border-radius: 40px;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 42px;
    margin-top: 0px;
    padding: 15px 45px 15px 45px;
} */


/********footer   section end*********/