@media only screen and (max-width: 768px) {
    header .navbar-brand {
        padding-left: 1rem;
    }
    .section-1 .row .col-md-6 .panel {
        position: initial;
        width: initial;
        height: initial;
    }
    .section-2 .cover {
        background-position: -25vmin --10vmin;
    }
    .numbers .rect {
        width: 10rem;
        height: 8rem;
    }
    .numbers .rect h1 {
        font-size: 2rem;
    }
    .section-3 {
        height: inherit;
        padding: 10vmin !important;
    }
    .section-3 .row h1 {
        padding: 6vmin 4vmin;
    }
    .section-3 .row .col-md-6 {
        text-align: center !important;
    }
    .section-3 .desktop i {
        font-size: 8vmin;
    }
    .section-4 .carousel-item {
        padding-left: 0.6rem;
        width: 16rem;
    }
    .section-4 .team {
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .section-4 .carousel-inner {
        width: 24rem;
    }
}

@media only screen and (max-width:425px) {
    footer .row .col-md-2 {
        margin-top: 8vmin;
    }
    .section-4 .card {
        width: 18rem;
    }
    .section-4 .carousel-inner {
        margin-left: 14vmin;
    }
}

@media only screen and (max-width:320px) {
    .section-4 .card {
        width: 18rem;
    }
    .section-4 .carousel-inner {
        margin-left: 2vmin;
    }
}

@media only screen and (max-width:375px) {
    /* .section-4 .card {
        width: 18rem;
    }
    .section-4 .carousel-inner {
        margin-left: 2vmin;
    } */
}

@media only screen and (max-width:1024px) {
    .section-1 .row .col-md-6 .panel {
        position: absolute;
        top: 8vmin;
        left: -18vmin;
        background: white;
        border-radius: 3px;
        text-align: left;
        padding: 13vmin 5vmin 2vmin 10vmin;
        box-shadow: 0px 20px 42px rgba(0, 0, 0, 0.2);
        font-family: var(--Rubik);
        z-index: 1;
    }
    .section-4 .card {
        width: 16rem;
    }
    .section-4 .carousel-inner {
        padding: 5px;
    }
    footer .column i {
        color: #dd2476;
        padding: 5px 5px;
    }
    footer .col-md-2 h4 {
        font-weight: bold;
        padding: 2px;
        display: block;
        margin: 0px;
        font-size: 20px;
    }
    footer .col-md-2 hp {
        color: red;
        padding: 5px;
    }
}