    * {
        margin: 0px;
        padding: 0px;
        font-family: 'Playfair Display', serif;
    }
    
    html,
    body {
        height: 100%;
    }
    
    .container {
        width: 80%;
        height: 800px;
        margin: 0px auto;
        text-align: center;
        background-color: #fff;
        overflow-y: auto;
        padding: 37px 32px 5px 55px;
        border: 2px solid transparent;
    }
    
    h2 {
        font-size: 28px;
        color: #808080;
        padding: 5px 10px 10px 10px;
        font-weight: 400;
        font-family: 'Roboto Condensed', sans-serif;
    }
    
    h6 {
        border-bottom: 2px dashed #808080;
        margin-right: 35px;
        margin-left: 187px
    }
    
    h1 {
        font-size: 82px;
        letter-spacing: 1px;
        font-weight: 500;
        margin-left: 99px;
    }
    
    .newspaper {
        padding-left: 200px;
    }
    
    .first-letter {
        font-size: 17px;
        font-weight: bolder;
        font-family: 'Roboto', sans-serif;
        border-top: 2px solid red;
    }
    
    .first-letter .fa {
        color: red;
        font-size: 17px;
    }
    
    .newspaper .content-line-1 {
        color: #000033;
        text-align: justify;
        border-right: 2px solid black;
        padding: 15px 0px 0px 10px;
    }
    
    .newspaper .content-line-2 {
        color: #000033;
        text-align: justify;
        border-right: 2px solid black;
        padding: 15px 0px 0px 10px;
    }
    
    .newspaper .content-line-2 h3 {
        font-size: 28px;
        color: #fc944e;
        font-style: italic;
        font-family: 'Lemonada', cursive;
        padding: 0px 10px 10px 10px;
    }
    
    .newspaper .content-line-3 {
        color: #000033;
        text-align: justify;
        border-right: 2px solid black;
        padding: 15px 0px 0px 10px;
    }
    
    .newspaper .content-line-4 {
        color: #000033;
        text-align: justify;
        border-right: 2px solid black;
        padding: 15px 0px 0px 10px;
    }