    * {
        margin: 0px;
        padding: 0px;
        font-family: 'Playfair Display', serif;
    }
    
    html,
    body {
        height: 100%;
    }
    
    .container {
        padding: 20px 50px 15px 60px;
        background-color: #fff;
        border: 1px solid black;
    }
    
    h2 {
        font-size: 20px;
        font-family: 'Caveat', cursive;
        color: #808080;
        padding: 5px 10px 10px 10px;
        font-weight: 400;
    }
    
    h6 {
        border-bottom: 3px dashed #808080;
    }
    
    .heading h1 {
        font-size: 46px;
        letter-spacing: 2px;
        margin: 10px 0px 10px 0px;
        padding: 5px 0px 2px 5px;
        font-weight: 500;
        column-span: all;
    }
    
    .newspaper {
        column-count: 4;
        column-gap: 40px;
        column-rule-style: solid;
        column-rule-color: #424242;
        text-align: justify;
        font-size: 14px;
    }
    
    b {
        border-top: 4px solid #eb5b34;
        font-size: 12px;
        line-height: 2px;
    }
    
    b .fa {
        color: red;
    }
    
    p span {
        font-size: 25px;
        color: #eb5b34;
        font-family: 'Caveat', cursive;
        font-style: italic;
        font-family: 'Roboto Condensed', sans-serif;
        font-family: 'Lemonada', cursive;
    }
    
    .custem-name {
        color: #424242;
        font-size: 20px;
        font-family: monospace;
        padding-top: 10px;
    }
    
    .nextpage {
        color: #eb5b34;
        font-size: 18px;
        font-weight: 700;
        font-family: 'Sriracha', cursive;
        font-family: 'Dancing Script', cursive;
    }