* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    height: 100%;
}

.container {
    width: 50%;
    height: 800px;
    margin: 0px auto;
    text-align: center;
    background-color: #fff;
    overflow-y: auto;
    padding: 37px 32px 5px 55px;
}

h5 {
    border-bottom: 16px solid #f06e65;
    margin-left: 10px;
    margin-right: 107px;
}

h1 {
    font-size: 90px;
    letter-spacing: 2px;
    padding: 6px 78px 11px 0px;
}

.sub-main {
    padding-left: 0px;
    padding-right: 89px;
}

.sub-main ul {
    display: inline-flex;
    font-size: 20px;
    border: 2px solid #ff9999;
}

.sub-main ul li {
    list-style: none;
    color: #454342;
    padding: 5px 10px 5px 66px;
    font-size: 15px;
    padding-right: 5px;
    margin-right: 21px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.sub-heading h2 {
    font-size: 46px;
    font-family: sans-serif;
    color: #454342;
    letter-spacing: 4px;
    padding: 18px 109px 11px 22px;
    margin-left: -19px;
}

.newspaper {
    column-count: 3;
    column-gap: 40px;
    text-align: justify;
    padding: 2px;
}

.line-border {
    border-top: 2px solid #969493;
    border-right: 2px solid #969493;
}

.newspaper h3 {
    font-size: 26px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #454342;
    letter-spacing: 1px;
    padding: 10px 0px;
}

.newspaper img {
    width: 100%;
    height: auto;
}

.artical {
    font-size: 14px;
    color: #001a33;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 5px;
    text-align: justify;
}

#demo {
    color: #001a33;
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 5px 117px 20px 27px;
    line-height: 21px;
}